@media screen and (max-width:600px) {
    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
     }

     .menu2{
        display: flex;
        flex-direction: column;
        align-items: center;     
        
    }

    .avatar{
        margin-left:0;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        margin-bottom: 3px;
   
    }
    
    .bell{
        margin-left:0;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        margin-bottom: 3px;
       

    }

    .lupa{
        margin-left:0;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        margin-bottom: 3px;
        
    }
}
@media screen and (min-width:1000px){
    .descricao{
        width: 50%
    }

   
}


